@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #000000;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;


}
span{
    color: #ee0028;
}

.logo{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.2em;
}
.navigation a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    text-transform: capitalize;
    transition: 0.7;
}
.navigation a:hover{
    color: red;
}
img{
    width: 250px;
}
section {
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(image/) no-repeat;
    justify-content: space-between;
    background-attachment: fixed;


}
img{
    width: 380px;   
    float: right;
    margin-left: 400px;
    

}
.main h2{
    color: #000000;
    font-size: 1.4em;
    font-weight: 1900;
}
.main h2 span{
    display: inline-block;
    margin-top: 7px;
    color: #f1072e;
    font-size: 1.7em;
    font-weight: 600;
}
.main h3{
    color: black;
    font-size:1.7em ;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 7px;
    margin-bottom: 30px;
}
.main-btn {
    color: #fff;
    background-color: #f1072e;
    text-decoration: none;
    font-size: 1.rem;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.9s ease;
}
.main-btn:hover {
    background-color: #f8012a;
    transform: scale(1.1);
}
.title{
    display: flex;
    justify-content: center;
    color: #ee0028;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom:30px ;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.9s ease;
    
}
.card2{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.9s ease;
}
.card:hover {
    transform: scale(1.1);    
}
.card2:hover {
    transform: scale(1.1);    
}
.icons{
    color: #f1072e;
    font-size: 8em;
    text-align: center;
}
.info{
    color: #f8012a;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.info{
    text-align: center;
}
.rg{
    color: #000000;
    font-size: 0.7em;
    font-weight: 700;
}
.contact-us .icon {
    font-size: 4.5em;
}
.title3{  
    display: flex;
    justify-content: center;
    color: #ee0028;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom:30px ;

}
.content1{
    color: black;
    font-size:1em ;
    font-weight: 700;
    margin-bottom: 30px;

}
    


@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a {
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3{
        font-size: 1.6em;
    }
    .main img{
        font-size: 1.2em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    }

@media (max-width:641px){
    body{
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 1.4em;
    }
   
}
@media (max-width:412px){
    body{
        font-size: 10px;
    }
}
   


    


   

